#video_box_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#video_player{
  width: 1264px;
  height: auto;
  overflow: hidden;
}
.vid_fullscreen{
  width: 100% !important;
  height: auto !important;
}

#video_contols{
  position: absolute;
  bottom: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  z-index: 5;
  transition: opacity .2s;
}


#video_volume_button{

}


#video_volume_control{

}




input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100px;
  height: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-image: linear-gradient(#fff, #fff);
  
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}



.progress_bar{
  background-color: rgba(255, 255, 255, .1);
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  overflow: hidden;
}

.progress_bar_filled{
  width: 0%;
  height: inherit;
  background-color: red;
  float: left;
  z-index: 1;
  position: absolute;
}

.progress_bar_downloaded{
  width: 0%;
  height: inherit;
  background-color: rgba(255, 255, 255, .5);
  left: 0;
  float: left;
  position: absolute;

}

.progress_bar:hover{
  height: 5px;
}

.playpause{
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 17px;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 17px;
}
.playpause input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
.playpause input[type=checkbox]:checked + label {
  border-style: solid;
  border-width: 10px 0 10px 17px;
}

.fullscreen_button{
  font-size: 20px !important;
  position: absolute;
  right: 1rem;
}



#video_volume_slider{
  cursor: pointer;
  margin-left: 5px;
  overflow: hidden;
  width: 0;
  transition: width .3s ease-in-out;
}


.volume_svg{
  width: 24px;
  cursor: pointer;
}

.show_slider{
  overflow: visible !important;
  width: 100px !important;
}

.time_container_span{
  color: #fff;
  user-select: none;
  font-family:'Times New Roman', Times, serif;
}

#video_player::-webkit-media-controls {
  display:none !important;
}
#video_player::-webkit-media-controls-enclosure {
  display:none !important;
}

.video_buttons{
  cursor: pointer;
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  font-size: 17px;
  height: 45px;
  width: 50px;
}

.volume_container{
  margin-top: 1px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-source-button{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.github-source-button span{
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.no-decor-a{
  color: inherit;
  text-decoration: none;
}

@media (max-width:1300px){
  #video_player{
    width: 100vw;
  }
}
